.red{
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
  border-radius: 20px;
  box-shadow: 10px 10px 9px yellow;
  transform: rotate(60deg);

}

.yellow{
  width: 100px;
  height: 100px;
  background-color: yellow;
  float: right;
  border-radius: 20px;
  box-shadow: 10px 10px 20px green;
  transform: rotate(60deg);

}

.green{
  width: 200px;
  height: 200px;
  background-color: green;
  clear: both;
  margin-left: 400px;
  box-shadow: -10px -10px 6px blue;
  border-radius: 20px 20px 40px 20px
  transform:rotate(70deg);
}

body{
  background-color: black;
}
